{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final Assignment</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--<link rel="icon" href="../../favicon.ico">-->

    <!-- <link rel="stylesheet" href="{% static "assets/css/main.css" %}"/> -->

    <link rel="stylesheet" href="{% static "assets/css/stylesheet.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/sticky-footer-navbar.css" %}"/>

    <!-- Scripts -->
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.scrolly.min.js" %}"></script>
    <script src="{% static "assets/js/skel.min.js" %}"></script>
    <script src="{% static "assets/js/util.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/jquery-3.1.1.min.js" %}"></script>

    <script src="{% static "assets/js/script.js" %}"></script>
</head>
<body>

    <!-- Fixed tabs -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="tab-home" class="navbar-brand" href="#">Grocery Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="tab-lists" class="tab-item"><a href="#">Lists</a></li>
            <li id="tab-favourites" class="tab-item"><a href="#">Favourites</a></li>
            <li id="tab-recipes" class="tab-item"><a href="#">Recipes</a></li>
            <li id="tab-supermarkets" class="tab-item"><a href="#">Supermarkets</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <!-- Show login status -->
    <div class="container">
        <p>Logged in as: {{ data.us_name }}</p>
    </div>


    <!-- Home -->

    <div class="container tab-content tab-content-home">
        <h1>Welcome!</h1>
        <p>For lists, favourites, etc. see the tabs ;)</p>
    </div>
    

    <!-- Login area -->
    <!--
    <div class="container login-area">
        <form  action="index.html" method="post">
            <label>Username</label>
            <input type = "text" placeholder = "Username" name = "username" required> <br>
            <label>Password</label>
            <input type = "password" placeholder = "Password" name = "password" required> <br>
            <button type = "button" class = "btn btn-primary"> Login </button>
        </form>
    </div>
    -->

    <script type="text/javascript">
        if ("{{ data.us_name }}" === "") {
            $("#login-area").show();
        } else {
            $("#login-area").hide();
        }
    </script>

    <div class="container" id="login-area">
        <p>To use this web app, you should login with your username and password.</p>
        <p>If you don't have an account, fill in a username and password and press sign up to create one.</p>
        <form  action="../index.html" method="post"> {% csrf_token %}
          <div class="container">
            <label>Set Username: </label>
            <input type = "text" placeholder = "Username" name = "username" required> <br>
            <label>Set Password: </label>
            <input type = "password" placeholder = "Password" name = "password" required> <br>
            <input type = "submit" value = "Sign up" /><!--class = "btn btn-primary" er misschien nog bij (ligt eraan of het alleen opmaak is)-->
          </div>
        </form>
    </div>


    <!-- Lists -->

    <div class="container tab-content tab-content-lists">
        <h1>Welcome!</h1>
        <p>For lists, favourites, etc. see the tabs ;)</p>
        <p>Logged in as: {{ data.us_name }}</p>
    </div>

    <div class="container  tab-content tab-content-lists">
      <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8"><button type = "button" class = "btn btn-default"> Make a new list </button> <button type = "button" class = "btn btn-default"> Load a list </button></div>
        <div class="col-xs-2 col-md-2"></div>
      </div>
    </div>

    <div class="container tab-content tab-content-lists">
      <div class="row">
        <div class="col-xs-8 col-md-8"><p>xD</p></div>
        <div class="col-xs-2 col-md-2"><p>xD</p></div>
        <div class="col-xs-2 col-md-2"><p>xD</p></div>
      </div>
      <button type = "button" class = "btn btn-default"> Import a Favourite </button> <button type = "button" class = "btn btn-default"> Import a Recipe </button>
    </div>

    <div class="container tab-content tab-content-lists" style = "width: 50%" >
      <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8"><button type = "button" class = "btn btn-default"> Save list </button></div>
        <div class="col-xs-2 col-md-2"></div>
      </div>
    </div>


    <!-- Favourites -->

    <div class="container tab-content tab-content-favourites">
      <p> test favourites </p>
    </div>


    <!-- Recipes -->

    <div class="container tab-content tab-content-recipes">
      <p> test recipes </p>
    </div>


    <!-- Supermarkets -->

    <div class="container tab-content tab-content-supermarkets">
      <p> test supermarkets </p>
    </div>


    <!-- footer -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted"> &copy; Le Grocery Manager</p>
      </div>
    </footer>

    <!--
    <section id="header" class="dark">
        <div>
            <h1>Weather Station  <img src="{{ data.icon_url }}"/></h1>
        </div>
        <div>
            <ul>
                <li>Location - {{ data.location }}</li>
                <li>Currently - {{ data.weather }}</li>
                <li>Wind - {{ data.wind_str }}</li>
                <li>Temp - {{ data.temp }} F</li>
                <li>Humidity - {{ data.humidity }}</li>
                <li>Precipitation - {{ data.precip }}</li>
                <li>{{ data.observation_time }}</li>
            </ul>
        </div>
    </section>
    -->


</body>
</html>
